.clock{
  display: flex;
  margin-right: 0px;
  width: 60px;
  padding: 10px;
  padding-bottom: 10px;
  margin-top:0%;
  margin-left: 90%;
  margin-bottom: 40px;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
  color: #3c6382;
}


@media (max-width: 844px) {
  
.clock{
  margin-right: 60px;
  width: 50px;
  padding: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

}